        body {
            margin: 0px;
        }

        h1 {
            text-align: center;
            border-bottom: 3px solid gray;
            margin: 0px;
            padding: 20px;
        }

        .grid {
            display: grid;
            grid-template-columns: 150px 1fr;
        }

        #list {
            border-right: 3px solid gray;
        }

        .content {
            padding: 0px 30px
        }
        
        @media(max-width: 800px) {
            #list {
                border-right: none;
            }
            h1 {
                border-bottom: none;
            }
            .grid {
                display: block;
            }
        }